<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Enviar</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="!uploaded" style="text-align: center; margin-top: 150px">
    <button ion-button secondary (click)="upload()">Enviar arquivo</button>
  </div>

  <div *ngIf="uploaded">
    <!-- IMG -->
    <div *ngIf="type === 'photo'">
      <img style="width: 60%; margin-left: 20%; margin-top: 40px" [src]="img">
    </div>

    <!-- VIDEO -->
    <div *ngIf="type === 'video'">
      <video style="width: 60%; margin-left: 20%; margin-top: 40px" controls controlsList="nodownload">
        <source [src]="img" type="video/mp4">
      </video>
      <!-- <video style="width: 60%; margin-left: 20%; margin-top: 40px" [src]="img"></video> -->
    </div>

    <!-- CODE -->
    <div class="code">
      {{code}}
    </div>

    <!-- CTA -->
    <div class="btnCta" (click)="share()">
      compartilhar código
    </div>

    <div class="voltar" (click)="fechar()">
      <p>Fechar</p>
    </div>
  </div>
</ion-content>